{
  "extends": "@antfu",
  "rules": {
    "vue/max-attributes-per-line": ["error", {
      "singleline": {
        "max": 1
      },
      "multiline": {
        "max": 1
      }
    }],
    "vue/component-tags-order": [
      "error",
      {
        "order": [
          "script",
          "template",
          "style"
        ]
      }
    ],
    "vue/order-in-components": [
      "error",
      {
        "order": [
          "el",
          "name",
          "key",
          "parent",
          "functional",
          "layout",
          [
            "delimiters",
            "comments"
          ],
          [
            "directives",
            "filters"
          ],
          "extends",
          "mixins",
          [
            "provide",
            "inject"
          ],
          "ROUTER_GUARDS",
          "components",
          "middleware",
          "validate",
          "scrollToTop",
          "transition",
          "loading",
          "inheritAttrs",
          "model",
          "emits",
          "LIFECYCLE_HOOKS",
          [
            "props",
            "propsData"
          ],
          "setup",
          "asyncData",
          "data",
          "fetch",
          "head",
          "computed",
          "watch",
          "watchQuery",
          "methods",
          [
            "template",
            "render"
          ],
          "renderError"
        ]
      }
    ],
    "vue/attributes-order": [
      "error",
      {
        "order": [
          "DEFINITION",
          "LIST_RENDERING",
          "CONDITIONALS",
          "TWO_WAY_BINDING",
          "CONTENT",
          "RENDER_MODIFIERS",
          "ATTR_DYNAMIC",
          "ATTR_STATIC",
          "ATTR_SHORTHAND_BOOL",
          "OTHER_DIRECTIVES",
          "EVENTS"
        ],
        "alphabetical": false
      }
    ],
    "vue/no-reserved-component-names": 0,
    "vue/no-mutating-props": 1,
    "curly": 0,
    "no-console": "warn",
    "n/prefer-global/process": [0]
  }
}
