./assets
/assets/
/tests/integration/cli/
!/tests/format/**/jsfmt.spec.js
!/**/vue-shims.d.ts
!/**/.eslintrc.js
/test*.*
/scripts/release/node_modules
/coverage/
/dist/
client/dist/
node_modules/
node_modules/*
./node_modules/**
**/node_modules/**
./node_modules/big.js
/x-unsupported/website/build/
/x-unsupported/website/static/playground.js
/x-unsupported/website/static/lib/
assets
**/assets/**
windi.config.ts
public
nuxt
nuxi dev
dist
dist-ssr
coverage
Procfile
.nuxt
.nitro
.cache
.output
.env
.DS_Store
.vite
*.yaml
*.local
*.log*
*.jpg
*.gif
*.png
*.json
*.md
